<% content_for(:title) do %>
<%= "Haar's House of Tunes" %>
<% end %>

<div class="wrapper-default padded">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="row">

          <div class="toolbar">
            <div class="toolbar-left">
              <div class="toolbar-label">Sort tunes</div>
              <div class="toolbar-filter-buttons">
                <%= form_tag('', method: :get, class: "toolbar-link") do %>
                  <%= hidden_field_tag(:sort_scope, "by_game") %>
                  <%= submit_tag("By Game", class: "btn btn-sm btn-info") %>
                <% end %>
                <%= form_tag(tunes_path, method: :get, class: "toolbar-link") do %>
                  <%= hidden_field_tag(:sort_scope, "by_song") %>
                  <%= submit_tag("By Song", class: "btn btn-sm btn-info") %>
                <% end %>
                <%= form_tag(tunes_path, method: :get, class: "toolbar-link") do %>
                  <%= hidden_field_tag(:sort_scope, "most_viewed") %>
                  <%= submit_tag("Most Viewed", class: "btn btn-sm btn-info") %>
                <% end %>
              </div>
            </div>
            <div class="toolbar-right toolbar-link">
              <%= link_to new_tune_path, class: "btn btn-sm btn-primary" do %>
                <i class="fa fa-plus-square" aria-hidden="true"></i> Add Song
              <% end %>
            </div>
          </div>

          <div class="video-grid">
            <%= render 'partials/tune_collection' %>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


