<% content_for(:title) do %>
<%= "Haar's House of Tunes" %>
<% end %>

<div class="wrapper-default padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <%= render 'toolbar' %>

        <div class="row">
          <div class="video-grid">

            <div class="box-light bg-gray padded" id="info-search-results">
              <% if @hits == 0 %>
                <p>No matches for term "<%= params[:q] %>". Try searching for
                something else or <%= link_to("go back to the tunes list", tunes_path) %>
                  .</p>
              <% else %>
                <p>Matches for term "<%= params[:q] %>": <%= @hits %>.</p>
                <%= link_to("Go back", tunes_path) %>
              <% end %>
            </div>

            <%= render 'tune_collection' %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
